<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="corememorycache" type="NHibernate.Caches.CoreMemoryCache.CoreMemoryCacheSectionHandler,NHibernate.Caches.CoreMemoryCache" />
		<section name="hibernate-configuration"
				 type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
	</configSections>

	<corememorycache expiration-scan-frequency="00:05:00">
		<cache region="foo" expiration="500" sliding="true" />
		<cache region="noExplicitExpiration" sliding="true" />
	</corememorycache>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
			<property name="connection.connection_string">
				Server=localhost;initial catalog=nhibernate;Integrated Security=SSPI
			</property>
			<property name="cache.provider_class">NHibernate.Caches.CoreMemoryCache.CoreMemoryCacheProvider,NHibernate.Caches.CoreMemoryCache</property>
		</session-factory>
	</hibernate-configuration>
</configuration>
