<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="coredistributedcache" type="NHibernate.Caches.CoreDistributedCache.CoreDistributedCacheSectionHandler,NHibernate.Caches.CoreDistributedCache" />
		<section name="hibernate-configuration"
				 type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
	</configSections>

	<!-- For testing with the memory "distributed" cache -->
	<coredistributedcache factory-class="NHibernate.Caches.CoreDistributedCache.Memory.MemoryFactory,NHibernate.Caches.CoreDistributedCache.Memory">
		<properties>
			<property name="expiration-scan-frequency">00:10:00</property>
			<property name="size-limit">1048576</property>
		</properties>
		<cache region="foo" expiration="500" sliding="true" />
		<cache region="noExplicitExpiration" sliding="true" />
	</coredistributedcache>

	<!-- For testing Memcached; note that it fails sliding expiration tests: Memcached does not support sliding
	     expiration and EnyimMemcachedCore converts them to non-sliding expiration instead.
	<coredistributedcache factory-class="NHibernate.Caches.CoreDistributedCache.Memcached.MemcachedFactory,NHibernate.Caches.CoreDistributedCache.Memcached">
		<properties>
			<property name="configuration">{
	"Servers": [
		{
			"Address": "localhost",
			"Port": 11211
		}
	]
}</property>
		</properties>
		<cache region="foo" expiration="500" sliding="true" />
		<cache region="noExplicitExpiration" sliding="true" />
	</coredistributedcache> -->

	<!-- For testing Redis
	<coredistributedcache factory-class="NHibernate.Caches.CoreDistributedCache.Redis.RedisFactory,NHibernate.Caches.CoreDistributedCache.Redis">
		<properties>
			<property name="configuration">localhost</property>
			<property name="instance-name">test</property>
		</properties>
		<cache region="foo" expiration="500" sliding="true" />
		<cache region="noExplicitExpiration" sliding="true" />
	</coredistributedcache> -->

	<!-- For testing SqlServer
	     These settings suppose the following commands have been run from the test project directory:
	     dotnet restore
	     dotnet sql-cache create "Server=.\SQLExpress;initial catalog=nhibernate;Integrated Security=SSPI" dbo sqlServerDistributedCache
	<coredistributedcache factory-class="NHibernate.Caches.CoreDistributedCache.SqlServer.SqlServerFactory,NHibernate.Caches.CoreDistributedCache.SqlServer">
		<properties>
			<property name="connection-string">Server=.\SQLExpress;initial catalog=nhibernate;Integrated Security=SSPI</property>
			<property name="schema-name">dbo</property>
			<property name="table-name">sqlServerDistributedCache</property>
		</properties>
		<cache region="foo" expiration="500" sliding="true" />
		<cache region="noExplicitExpiration" sliding="true" />
	</coredistributedcache> -->

	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
			<property name="connection.connection_string">
				Server=localhost;initial catalog=nhibernate;Integrated Security=SSPI
			</property>
			<property name="cache.provider_class">NHibernate.Caches.CoreDistributedCache.CoreDistributedCacheProvider,NHibernate.Caches.CoreDistributedCache</property>
		</session-factory>
	</hibernate-configuration>
</configuration>
