<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="coredistributedcache" type="NHibernate.Caches.CoreDistributedCache.CoreDistributedCacheSectionHandler,NHibernate.Caches.CoreDistributedCache" />
		<section name="hibernate-configuration"
				 type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
	</configSections>

	<coredistributedcache factory-class="NHibernate.Caches.CoreDistributedCache.Memory.MemoryFactory,NHibernate.Caches.CoreDistributedCache.Memory">
		<properties>
			<property name="expiration-scan-frequency">00:10:00</property>
			<property name="size-limit">1048576</property>
		</properties>
		<cache region="foo" expiration="500" sliding="true" />
		<cache region="noExplicitExpiration" sliding="true" />
	</coredistributedcache>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
			<property name="connection.connection_string">
				Server=localhost;initial catalog=nhibernate;Integrated Security=SSPI
			</property>
			<property name="cache.provider_class">NHibernate.Caches.CoreDistributedCache.CoreDistributedCacheProvider,NHibernate.Caches.CoreDistributedCache</property>
		</session-factory>
	</hibernate-configuration>
</configuration>
